html{
  background-color: darkseagreen;
}
.container-fluid {
  background-color: darkseagreen;

}
input[type="text"]{
  background:transparent;
  color: white;
}

input[type="text"]:focus{
  background:transparent;
  color: white;
}

